.container {
    background-color: rgb(124, 124, 124);
    padding: 20px;
    text-align: center;
}

.block {
    position: relative;
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #ffe5b4;
    border-radius: 5px;
}

.block h2 {
    color: #ceb890;
    text-shadow: 2px -2px 2px #fff, -2px 2px 2px #555;
}

.block::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 20px;
    background-color: black;
    border-radius: 5px;
}
